<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shehabic.sherlock">

    <application>
        <activity
            android:icon="@drawable/ic_sherlock_wifi"
            android:name=".ui.NetRequestListActivity"
            android:label="@string/title_netrequest_list"
            android:theme="@style/SherlockAppTheme.NoActionBar"
            android:taskAffinity="com.shehabic.sherlock.${applicationId}"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NetRequestDetailActivity"
            android:label="@string/title_netrequest_detail"
            android:parentActivityName=".ui.NetRequestListActivity"
            android:theme="@style/SherlockAppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shehabic.sherlock.ui.NetRequestListActivity" />
        </activity>
    </application>

</manifest>